<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My first Website</title>
	<link rel="stylesheet" href="/stylesheets/Secondpart.css">
	
</head>
<body>
	<header class = "center_text">
		<h1 style="font-size:400%; font-family: 'ZCOOL KuaiLe',courier; border: solid yellow;border-width: 10px; color:yellow; width:60%;padding: 40px;">Yousaf Shoiab</h1>
		<h1 style="font-size:550%; ">👨‍💻</h1>
		<h2 style="background-color: yellow; color: black;
		font-family: courier;">
			Welcome to my Training Website
		</h2>
	</header>
	<nav>
		
	</nav>

	<blockquote style="font-size: 130%;padding: 30px; font-style:  bold;">
		A skilled, knowledgeable and qualified software engineering student with fundamental knowledge of software design. Seeking a challenging position as software engineer to utilize my knowledge in a well reputed organization with excellent analytical, technical, and programming skills to thrive as an entry-level software engineer.
	</blockquote>

	<!--projects -->
	<table>
		
		<tr>
			<th style="text-align: center;"><mark style="font-size:150%;">Projects</mark></th>
		</tr>
		<tr>
			<th><mark>2022</mark></th>
			<th><mark>Projectiles App</mark></th>
		</tr>
		<tr>
			<th></th>
			<th style="font-size: 85%">Projectiles App
			a Project depends on Linear Algebra and OpenGl library</th>
			
		</tr>
		<tr>
			<th><mark>2021</mark></th>
			<th><mark>Alien Invasion</mark></th>
		</tr>
		<tr>
			<th></th>
			<th style="font-size: 85%">a Game from Python Crash Course book, with more features
			using pygame and OOP</th>
		</tr>
	</table>
	
	<div>
		<h3 >Skills</h3>
		<ol type="I" start="10" style="font-style: Bold; font: size 200px;">
			<li>Data structures and algorithms</li>
			<li>Problem Solving</li>
			<li>OOP</li>
			<li>Languages
				<ul>
					<li>Arabic</li>
					<li>English</li>
					<li>German</li>
				</ul>
			</li>


		</ol>

	</div>



	<!-- Contacts part-->
	<hr>
	<div id ="contacts" class="center_text">
		<a href="mail to:yousafshoieb@gmail.com"
		target="_blank"
		title="Send me an email">
			<button >Email me</button>
		</a>

		<a href="https://www.facebook.com/yousaf.shoiab.9"
		target="_blank"
		title="my facebook account">
			<button >facebook</button>
		</a>
		<a href="https://codeforces.com/profile/yousaf11111"
		target="_blank"
		title="my codeforces account">
			<button >Code Forces</button>
		</a>
		<a href="https://www.linkedin.com/in/yousaf-shoiab-0b5229217/"
		target="_blank"
		title="my Linkedin account">
			<button >Linkedin</button>
		</a>
		
		
	</div>



</body>
</html>
